<p class="small text-center">
    {% if standort and standort.privacyPolicy %}
        {% trans with {'{dataPrivay}': dataPrivacy,'{name}': standort.name,'{privacyUrl}':standort.privacyPolicy} %}
            Ich habe die <a href="{dataPrivay}" target="_blank" referrerpolicy="no-referrer">
            <u>Datenschutzhinweise des Open-Event-Manager</u> <i class="fa fa-external-link-alt"></i></a>
            und die <a href="{privacyUrl}" target="_blank" referrerpolicy="no-referrer">
            <u>Datenschutzhinweise von {name}</u><i class="fa fa-external-link-alt"></i></a>
            gelesen und nehme diese zur Kenntnis.
        {% endtrans %}
    {% else %}
        {% trans with {'{dataPrivay}': dataPrivacy} %}
            Ich habe die <a href="{dataPrivay}" target="_blank" referrerpolicy="no-referrer">
            <u>Datenschutzhinweise des Open-Event-Manager</u> <i class="fa fa-external-link-alt"></i></a>
            gelesen und nehme diese zur Kenntnis.
        {% endtrans %}
    {% endif %}
</p>

